
/*=============================================================
    Authour URI: www.binarycart.com
    Version: 1.1
    License: MIT

    http://opensource.org/licenses/MIT

    100% To use For Personal And Commercial Use.

    ========================================================  */
/*==============================================
    GENERAL  STYLES
    =============================================*/
html, body {
    /*font-family: 'Open Sans', sans-serif;*/
    height: 100%;
    overflow: auto;
}

 #wrapper {
    width: 100%;
    position: fixed;
    height: 100%;
}

#page-wrapper {
    padding: 15px 15px;
    height: calc( 100% - 60px);
    overflow-y: auto;
    /*background:#F3F3F3;*/

}
#page-inner {
    width:100%;
    margin:10px 20px 10px 0px;
    background-color:#fff!important;
    padding:10px;
    height: calc( 100% - 20px);
    overflow-y: auto;
}
#page-inner-history {
    width:100%;
    margin:10px 20px 10px 0px;
    background-color:#fff!important;
    padding:10px;
    height: calc( 100% - 20px);
    overflow-y: scroll;
}

#success {
    text-align:center;
    color: white;
    padding-left: 20px;
    background-color: red;
    background-size: 50%;
}


#search {
    float: right;
}

.text-center {
    text-align:center;
}

h2 {
    color: #f00;
}
h4 {
    padding-top:10px;
}
.square-btn-adjust {
    border: 0px solid transparent;
   -webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;

}
.square-btn-adjust:hover {
    background-color: #ff1717;
}

.search {
    vertical-align: middle;
}
.search input {
    width: 75%;
    height: 34px;
}
.search button {
    width: 25%;
}
p {
    font-size:16px;
    line-height:25px;
    padding-top:20px;
}
/*==============================================
   DASHBOARD STYLES
    =============================================*/
.panel-back {
    background-color:#F8F8F8;

}
   .noti-box {
min-height: 100px;
padding: 20px;
}

.text-box p{
    margin: 0 0 3px;
}
.main-text {
    font-size: 25px;
    font-weight:600;
}

 .chat-box li.left .chat-body {
margin-left: 90px;
}


/*==============================================
    MENU STYLES
    =============================================*/


.user-image {
    margin: 25px auto;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
max-height:170px;
max-width:170px;
}

.navbar-cls-top .navbar-brand {
	color: #fff;
background: #C90000;
width: 260px;
text-align: center;
height: 60px;
font-size: 30px;
font-weight: 700;
}
.active-menu {
    background-color:#C90000!important;
}

.arrow {
    float: right;
}


.active > a > .fa.arrow:before {
    content: "\f107";
}

.sidebar-collapse , .sidebar-collapse .nav{
	background:none;
    overflow-y: visible;
}
.sidebar-collapse .nav {
	padding:0;
}
.sidebar-collapse .nav > li > a {
	color:#fff;
	background:#202020;
	text-shadow:none;

}
.sidebar-collapse > .nav > li > a {
	padding:15px 10px;
}
.sidebar-collapse > .nav > li {
	border-bottom: 1px solid rgba(107, 108, 109, 0.19);
}
.sidebar-collapse .nav > li > a:hover,
.sidebar-collapse .nav > li > a:focus {

	background:#0A0A0A;
	outline:0;
}
@media (min-width: 768px) {
  .sidebar-collapse {
    width: auto;
    border-top: 0;
    box-shadow: none;
  }
  .sidebar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
}

.navbar-side {
	border:none;
	background-color: #202020;

}
.navbar-cls-top {
	background:none;
	border-bottom:none;

}
.navbar-cls-top:hover .navbar-brand:hover {

background: #ff1717;
color:#fff;

}

.navbar-default {
border:0px solid black;

}
.navbar-header {
    /*background: #A70303;*/
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
background-color: #B40101;
}
.navbar-default .navbar-toggle {
border-color: #fff;
}

.navbar-default .navbar-toggle .icon-bar {
background-color: #FFF;
}
.nav > li > a > i {
    margin-right:10px;
}
/*==============================================
    UI ELEMENTS STYLES
    =============================================*/
.btn-circle {
width: 50px;
height: 50px;
padding: 6px 0;
 -webkit-border-radius: 25px;
-moz-border-radius: 25px;
border-radius: 25px;
text-align: center;
font-size: 12px;
line-height: 1.428571429;
}

/*==============================================
    MEDIA QUERIES
    =============================================*/

 @media(min-width:768px) {
     #page-wrapper{
        margin: 0 0 0 260px;
        padding: 15px 30px;
        /*min-height: 800px;*/

    }


    .navbar-side {
        z-index: 1;
        position: absolute;
        width: 260px;
    }

   .navbar {
 border-radius: 0px;
}

}
