        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-info alert-dismissable" role="alert" style="margin-left: 20%; margin-right: 20%; text-align: center;">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">x</button>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}