<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
      <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Data Soap Dashboard</title>
	<!-- BOOTSTRAP STYLES-->
    <link href="static/assets/css/bootstrap.css" rel="stylesheet" />
     <!-- FONTAWESOME STYLES-->
    <link href="static/assets/css/font-awesome.css" rel="stylesheet" />
     <!-- MORRIS CHART STYLES-->
    <link href="static/assets/js/morris/morris-0.4.3.min.css" rel="stylesheet" />
        <!-- CUSTOM STYLES-->
    <link href="static/assets/css/custom.css" rel="stylesheet" />
     <!-- GOOGLE FONTS-->
   <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">DataSoap</a>
            </div>

  <div style="color: white;
padding: 15px 50px 5px 50px;
float: right;
font-size: 16px;"> Last login : 12 January 2017 &nbsp; <a href="/logout" class="btn btn-danger square-btn-adjust">Logout</a> </div>
        </nav>
           <!-- /. NAV TOP  -->
                <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
				<li class="text-center">
                    <img src="/static/assets/img/soapbar.png" class="user-image img-responsive"/>
					</li>


                    <li>
                        <a href="/dashboard"><i class="fa fa-dashboard fa-3x"></i> Dashboard</a>
                    </li>
                     <li>
                        <a  href="/reports"><i class="fa fa-desktop fa-3x"></i> Reports</a>
                    </li>
                    <li>
                        <a class="active-menu" href="/archives"><i class="fa fa-qrcode fa-3x"></i> Archives</a>
                    </li>
						   <li>
                        <a href="/history"><i class="fa fa-history fa-3x"></i> History</a>
                    </li>
                    </li>
						   <li>
                        <a href="/profile"><i class="fa fa-user fa-3x"></i> Profile</a>
                    </li>
                    </li>
						   <li>
                        <a href="/gopro"><i class="fa fa-bar-chart-o fa-3x"></i> Go Pro</a>
                    </li>



                                                    </ul>

                                                </li>
                                            </ul>
                                          </li>

                                    </ul>

                                </div>

                            </nav>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper" >
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                     <h2>Your Archives</h2>

                    </div>
                </div>
                 <!-- /. ROW  -->
                 <hr />

                 <!-- <tr class="even gradeC">
                     <td>{{logHistory[1][0]}}</td>
                     <td>{{logHistory[1][1]}}</td>
                     <td>{{ logHistory[1][2]}}</td>
                     <td>{{ logHistory[1][3]}}</td>
                     <td class="center">{{logHistory[1][4]}}</td>
                     <tr class="odd gradeX">
                         <td>{{logHistory[2][0]}}</td>
                         <td>{{logHistory[2][1]}}</td>
                         <td>{{ logHistory[2][2]}}</td>
                         <td>{{ logHistory[2][3]}}</td>
                         <td class="center">{{logHistory[2][4]}}</td>

                     </tr>
                     <tr class="even gradeC">
                         <td>{{logHistory[3][0]}}</td>
                         <td>{{logHistory[3][1]}}</td>
                         <td>{{ logHistory[3][2]}}</td>
                         <td>{{ logHistory[3][3]}}</td>
                         <td class="center">{{logHistory[3][4]}}</td>

                         <tr class="odd gradeX">
                             <td>{{logHistory[4][0]}}</td>
                             <td>{{logHistory[4][1]}}</td>
                             <td>{{ logHistory[4][2]}}</td>
                             <td>{{ logHistory[4][3]}}</td>
                             <td class="center">{{logHistory[4][4]}}</td>

                         </tr>
                         <tr class="even gradeC">
                             <td>{{logHistory[5][0]}}</td>
                             <td>{{logHistory[5][1]}}</td>
                             <td>{{ logHistory[5][2]}}</td>
                             <td>{{ logHistory[5][3]}}</td>
                             <td class="center">{{logHistory[5][4]}}</td>
                             <tr class="odd gradeX">
                                 <td>{{logHistory[6][0]}}</td>
                                 <td>{{logHistory[6][1]}}</td>
                                 <td>{{ logHistory[6][2]}}</td>
                                 <td>{{ logHistory[6][3]}}</td>
                                 <td class="center">{{logHistory[6][4]}}</td>
                             </tr>
                             <tr class="even gradeC">
                                 <td>{{logHistory[7][0]}}</td>
                                 <td>{{logHistory[7][1]}}</td>
                                 <td>{{ logHistory[7][2]}}</td>
                                 <td>{{ logHistory[7][3]}}</td>
                                 <td class="center">{{logHistory[7][4]}}</td>

                                 <tr class="odd gradeX">
                                     <td>{{logHistory[8][0]}}</td>
                                     <td>{{logHistory[8][1]}}</td>
                                     <td>{{ logHistory[8][2]}}</td>
                                     <td>{{ logHistory[8][3]}}</td>
                                     <td class="center">{{logHistory[8][4]}}</td>

                                 </tr>
                                 <tr class="even gradeC">
                                     <td>{{logHistory[9][0]}}</td>
                                     <td>{{logHistory[9][1]}}</td>
                                     <td>{{ logHistory[9][2]}}</td>
                                     <td>{{ logHistory[9][3]}}</td>
                                     <td class="center">{{logHistory[9][4]}}</td>
                                     <tr class="odd gradeX">
                                         <td>{{logHistory[10][0]}}</td>
                                         <td>{{logHistory[10][1]}}</td>
                                         <td>{{ logHistory[10][2]}}</td>
                                         <td>{{ logHistory[10][3]}}</td>
                                         <td class="center">{{logHistory[10][4]}}</td>

                                     </tr>
                                     <tr class="even gradeC">
                                         <td>{{logHistory[11][0]}}</td>
                                         <td>{{logHistory[11][1]}}</td>
                                         <td>{{ logHistory[11][2]}}</td>
                                         <td>{{ logHistory[11][3]}}</td>
                                         <td class="center">{{logHistory[11][4]}}</td> -->

    </div>
             <!-- /. PAGE INNER  -->
            </div>
         <!-- /. PAGE WRAPPER  -->
        </div>
     <!-- /. WRAPPER  -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <script src="static/assets/js/jquery-1.10.2.js"></script>
      <!-- BOOTSTRAP SCRIPTS -->
    <script src="static/assets/js/bootstrap.min.js"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="static/assets/js/jquery.metisMenu.js"></script>
      <!-- CUSTOM SCRIPTS -->
    <script src="static/assets/js/custom.js"></script>


</body>
</html>
