<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
      <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Data Soap Dashboard</title>
	<!-- BOOTSTRAP STYLES-->
    <link href="static/assets/css/bootstrap.css" rel="stylesheet" />
     <!-- FONTAWESOME STYLES-->
    <link href="static/assets/css/font-awesome.css" rel="stylesheet" />
     <!-- MORRIS CHART STYLES-->
    <link href="static/assets/js/morris/morris-0.4.3.min.css" rel="stylesheet" />
        <!-- CUSTOM STYLES-->
    <link href="static/assets/css/custom.css" rel="stylesheet" />
     <!-- GOOGLE FONTS-->
   <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">DataSoap</a>
            </div>

  <div style="color: white;
padding: 15px 50px 5px 50px;
float: right;
font-size: 16px;"> Last login : 12 January 2017 &nbsp; <a href="/logout" class="btn btn-danger square-btn-adjust">Logout</a> </div>
        </nav>
           <!-- /. NAV TOP  -->
                <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
				<li class="text-center">
                    <img src="/static/assets/img/soapbar.jpg" class="user-image img-responsive"/>
					</li>


                    <li>
                        <a class="active-menu"  href="dashboard.html"><i class="fa fa-dashboard fa-3x"></i> Dashboard</a>
                    </li>
                     <li>
                        <a  href="reports.html"><i class="fa fa-desktop fa-3x"></i> Reports</a>
                    </li>
                    <li>
                        <a  href="archives.html"><i class="fa fa-qrcode fa-3x"></i> Archives</a>
                    </li>
						   <li>
                        <a   href="history.html"><i class="fa fa-history fa-3x"></i> History</a>
                    </li>
                    </li>
						   <li>
                        <a   href="profile.html"><i class="fa fa-user fa-3x"></i> Profile</a>
                    </li>
                    </li>
						   <li>
                        <a   href="gopro.html"><i class="fa fa-bar-chart-o fa-3x"></i> Go Pro</a>
                    </li>

                    <!-- <h3>Quick Search</h3>

<div class="row search">
    <div class="col-md-6 col-sm-12 col-xs-12">
<input type="text" class="form-control input-md" maxlength="2000" placeholder="Please type phone number here" />
<button type="submit" class="btn btn-primary btn-sm">Search</button> -->
                      <!-- <li>
                        <a  href="table.html"><i class="fa fa-table fa-3x"></i> Table Examples</a>
                    </li>
                    <li  >
                        <a  href="form.html"><i class="fa fa-edit fa-3x"></i> Forms </a>
                    </li>
					 <li  >
                        <a   href="login.html"><i class="fa fa-bolt fa-3x"></i> Login</a>
                    </li>
                     <li  >
                        <a   href="registeration.html"><i class="fa fa-laptop fa-3x"></i> Registeration</a>
                    </li>

                    <li> -->
                        <!-- <a href="#"><i class="fa fa-sitemap fa-3x"></i> Multi-Level Dropdown<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="#">Second Level Link</a>
                            </li>
                            <li>
                                <a href="#">Second Level Link</a>
                            </li>
                            <li>
                                <a href="#">Second Level Link<span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                    <li>
                                        <a href="#">Third Level Link</a>
                                    </li>
                                    <li>
                                        <a href="#">Third Level Link</a>
                                    </li>
                                    <li>
                                        <a href="#">Third Level Link</a>
                                    </li>

                                </ul> -->

                            <!-- </li>
                        </ul>
                      </li>
                  <li  >
                        <a  href="blank.html"><i class="fa fa-square-o fa-3x"></i> Blank Page</a>
                    </li>
                </ul> -->

            </div>

        </nav>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper" >
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <h2>Welcome back {{username}}! </h2>
                     <h4>Your Dashboard</h4>
                 </div>
                 <div class="col-md-2 col-sm-6 col-xs-6">
                     </div>

                    <div class="col-md-4 col-sm-6 col-xs-6">
                    <h4> <i class="fa fa-search"></i></i> Quick Search</a></h4>
                    <!-- <div class="row search"> -->
                    <div class search>


                    <input type="text" class="form-control input-sm" maxlength="110" placeholder="Please type phone number here" />
                    <button type="submit" text-align="center" class="btn btn-primary btn-sm">Search</button>
                    </div>
                </div></div>
                 <!-- /. ROW  -->
                  <hr />
                <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-6">
			<div class="panel panel-back noti-box">
                <!-- <span class="icon-box bg-color-red set-icon"> -->
                    <i class="fa fa-globe fa-3x"></i>
                </span>
                <div class="text-box" >
                    <p class="main-text">99%</p>
                    <p class="text-muted">Files Scrubbed</p>
                </div>
             </div>
		     </div>
                    <div class="col-md-3 col-sm-6 col-xs-6">
			<div class="panel panel-back noti-box">
                <!-- <span class="icon-box bg-color-green set-icon"> -->
                    <i class="fa fa-mobile fa-3x"></i>
                </span>
                <div class="text-box" >
                    <p class="main-text">16,000</p>
                    <p class="text-muted">cleaned last session</p>
                </div>
             </div>
		     </div>
                    <div class="col-md-3 col-sm-6 col-xs-6">
			<div class="panel panel-back noti-box">
                <!-- <span class="icon-box bg-color-blue set-icon"> -->
                    <i class="fa fa-remove fa-3x"></i>
                </span>
                <div class="text-box" >
                    <p class="main-text">14,000</p>
                    <p class="text-muted">DNC Contacts Removed</p>
                </div>
             </div>
		     </div>
                    <div class="col-md-3 col-sm-6 col-xs-6">
			<div class="panel panel-back noti-box">
                <!-- <span class="icon-box bg-color-brown set-icon"> -->
                    <i class="fa fa-legal fa-3x"></i>
                </span>
                <div class="text-box" >
                    <p class="main-text">0</p>
                    <p class="text-muted">Litigators</p>
                </div>
             </div>
		     </div>
			</div>
                 <!-- /. ROW  -->
                <hr />
                <!-- <div class="row">
                    <div class="col-md-6 col-sm-12 col-xs-12">
                    <h1>Quick Search</h1>

<div class="row search">
    <div class="col-md-6 col-sm-12 col-xs-12">
<input type="text" class="form-control input-sm" maxlength="64" placeholder="Please type phone number here" />
<button type="submit" class="btn btn-primary btn-sm">Search</button>
</div></div>
<h3>Quick Search Result: </h3>
                </div></div> -->
                <div class="row upload">
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <h3> <i class="fa fa-cloud-upload fa-lg"></i></i> Import your CSV File</a></h3>

                        <form action="/process" method="POST" enctype="multipart/form-data"><input type="file" name="Select csv" />
                            <!-- <input type="file" name="myFile" /> -->
                            <!-- <input type="submit" name="btnImport"class="btn btn-primary btn" value="Submit File"/> -->
                    </div></div>

                    <div class="row options">
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <!-- <form action="/add_options"> -->
                                <h3> <i class="fa fa-check-circle fa-lg"></i></i> Options</a></h3>
<input type="checkbox" name="lat_long" value="lat_long"> add latitude and longitude<br>
<input type="checkbox" name="income" value="income"> add household income<br />
<input type="checkbox" name="rac_demo" value="rac_demo"> add racial demographics<br>
<input type="checkbox" name="own_rent" value="own_rent"> add owner occupied or rental<br />
<input type="checkbox" name="work_home" value="work_home"> add work at home<br>
<input type="checkbox" name="age_range" value="age_range"> add age ranges<br />
<input type="checkbox" name="num_ppl_hse" value="um_ppl_hse"> number of people in household<br>
<input type="checkbox" name="rem_dup" value="rem_dup" checked> remove duplicates (automatically checked)<br /><br />

</div></div>


<input type="submit" name="btnImport" class="btn btn-primary btn" value="Submit File"/>
</form>

                 <!-- /. ROW  -->
    </div>
             <!-- /. PAGE INNER  -->
            </div>
         <!-- /. PAGE WRAPPER  -->
        </div>
     <!-- /. WRAPPER  -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <script src="static/assets/js/jquery-1.10.2.js"></script>
      <!-- BOOTSTRAP SCRIPTS -->
    <script src="static/assets/js/bootstrap.min.js"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="static/assets/js/jquery.metisMenu.js"></script>
     <!-- MORRIS CHART SCRIPTS -->
     <script src="static/assets/js/morris/raphael-2.1.0.min.js"></script>
    <script src="static/assets/js/morris/morris.js"></script>
      <!-- CUSTOM SCRIPTS -->
    <script src="static/assets/js/custom.js"></script>


</body>
</html>
