{% include "header.html" %}
<body>
{% include "nav.html" %}
<div id="page-wrapper" >
            <div id="page-inner">
                {% with messages = get_flashed_messages() %}
                        {% if messages or session.get('success_message') %}
                             <div class="alert alert-info alert-dismissable" role="alert" style="margin-left: 20%; margin-right: 20%; margin-bottom: 2px; text-align: center;">
                             <button type="button" class="close" data-dismiss="alert" aria-label="Close">X</button>
                             {% for message in messages %}
                                {{ message }}
                            {% endfor %}
                            {{session.get('success_message', "") | safe}}
                            </div>
                        {% endif %}
                {% endwith %}
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <h2>Welcome back {{session.get('username').title()}}! </h2>
                     <h4>Your Dashboard</h4>
                 </div>
                 <div class="col-md-2 col-sm-6 col-xs-6">
                     </div>

                    <div class="col-lg-6 col-sm-6 col-xs-12">
                    <h4> <i class="fa fa-search"></i>Quick Clean</h4>
                    <div class="search">
                    <form id="quickSearch">
                    <input type="text" name="search" maxlength="110" placeholder="Phone Number" />
                    <button type="submit" id="search" value="search" class="btn btn-theme">Search</button>
                    </form><br />
                    </div>
                    <div id="searchResult"></div>
                </div></div>
                 <!-- /. ROW  -->
                  <hr />
                <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-6">
			<div class="panel panel-back noti-box">
                <!-- <span class="icon-box bg-color-red set-icon"> -->
                    <i class="fa fa-globe fa-3x"></i>

                <div class="text-box" >
                    <p class="main-text">99%</p>
                    <p class="text-muted">Files Scrubbed</p>
                </div>
             </div>
		     </div>
                    <div class="col-md-3 col-sm-6 col-xs-6">
			<div class="panel panel-back noti-box">
                <!-- <span class="icon-box bg-color-green set-icon"> -->
                    <i class="fa fa-mobile fa-3x"></i>

                <div class="text-box" >
                    <p class="main-text">16,000</p>
                    <p class="text-muted">cleaned last session</p>
                </div>
             </div>
		     </div>
                    <div class="col-md-3 col-sm-6 col-xs-6">
			<div class="panel panel-back noti-box">
                <!-- <span class="icon-box bg-color-blue set-icon"> -->
                    <i class="fa fa-remove fa-3x"></i>

                <div class="text-box" >
                    <p class="main-text">14,000</p>
                    <p class="text-muted">DNC Contacts Removed</p>
                </div>
             </div>
		     </div>
                    <div class="col-md-3 col-sm-6 col-xs-6">
			<div class="panel panel-back noti-box">
                <!-- <span class="icon-box bg-color-brown set-icon"> -->
                    <i class="fa fa-legal fa-3x"></i>

                <div class="text-box" >
                    <p class="main-text">0</p>
                    <p class="text-muted">Litigators</p>
                </div>
             </div>
		     </div>
			</div>
                 <!-- /. ROW  -->
                <hr />

                <div class="row upload">
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <h3> <i class="fa fa-cloud-upload fa-lg"></i> Import your CSV File</h3>
                        <p style="padding-top: 0; font-style: italic;">Please limit files to 10Mb</p>

                        <form action="/process" method="POST" enctype="multipart/form-data">
                            <input type="file" name="Select csv" />
                            <!-- <form action="/add_options"> -->
                         <h3> <i class="fa fa-check-circle fa-lg"></i> Options</h3>
                            {#<input type="checkbox" name="lat_long" value="lat_long"> add latitude and longitude<br>#}
                            {#<input type="checkbox" name="income" value="income"> add household income<br />#}
                            {#<input type="checkbox" name="rac_demo" value="rac_demo"> add racial demographics<br>#}
                            {#<input type="checkbox" name="own_rent" value="own_rent"> add owner occupied or rental<br />#}
                            {#<input type="checkbox" name="work_home" value="work_home"> add work at home<br>#}
                            {#<input type="checkbox" name="age_range" value="age_range"> add age ranges<br />#}
                            {#<input type="checkbox" name="num_ppl_hse" value="um_ppl_hse"> number of people in household<br>#}
                            <label>
                                <input type="checkbox" name="rem_dup" value="rem_dup" checked>
                                remove duplicates (automatically checked)
                            </label><br /><br />
                            <button type="submit" name="btnImport" class="btn btn-theme btn-block">Submit File</button>
                </form></div></div>
                 <!-- /. ROW  -->
            </div>
             <!-- /. PAGE INNER  -->
        </div>
         <!-- /. PAGE WRAPPER  -->
    </div>
     <!-- /. WRAPPER  -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <script src="/static/assets/js/jquery-1.10.2.js"></script>
      <!-- BOOTSTRAP SCRIPTS -->
    <script src="/static/assets/js/bootstrap.min.js"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="/static/assets/js/jquery.metisMenu.js"></script>



</body>
<script type="text/javascript">
        $('#quickSearch').on("submit", function(e) {
            e.preventDefault();
            console.log("quicksearch submit registered");
           $.getJSON('/searchResult', {
               number: $('input[name="search"]').val()
           }, function(data) {
               console.log(data);
              $('#searchResult').html(data.result);
          }); return false;
        });
</script>
<!--BACKSTRETCH-->
    <!-- You can use an image of whatever size. This script will stretch to fit in any screen size.-->
<script type="text/javascript" src="/static/assets/js/jquery.backstretch.min.js"></script>
<script>
    $.backstretch("/static/assets/img/Black-and-Red-Abstract-High-Resolution-Wallpaper.jpg", {speed: 500});
</script>
<script src="/static/assets/js/jquery.min3.js"></script>
</html>
