<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
      <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Data Soap Dashboard</title>
	<!-- BOOTSTRAP STYLES-->
    <link href="static/assets/css/bootstrap.css" rel="stylesheet" />
     <!-- FONTAWESOME STYLES-->
    <link href="static/assets/css/font-awesome.css" rel="stylesheet" />
     <!-- MORRIS CHART STYLES-->
    <link href="static/assets/js/morris/morris-0.4.3.min.css" rel="stylesheet" />
        <!-- CUSTOM STYLES-->
    <link href="static/assets/css/custom.css" rel="stylesheet" />
     <!-- GOOGLE FONTS-->
   <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">DataSoap</a>
            </div>

  <div style="color: white;
padding: 15px 50px 5px 50px;
float: right;
font-size: 16px;"> Last login : 16 January 2017 &nbsp; <a href="/logout" class="btn btn-danger square-btn-adjust">Logout</a> </div>
        </nav>
           <!-- /. NAV TOP  -->
                <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
				<li class="text-center">
                    <img src="/static/assets/img/soapbar.png" class="user-image img-responsive"/>
					</li>


                    <li>
                        <a href="/dashboard"><i class="fa fa-dashboard fa-3x"></i> Dashboard</a>
                    </li>
                     <li>
                        <a  href="/reports"><i class="fa fa-desktop fa-3x"></i> Reports</a>
                    </li>

						   <li>
                        <a   href="/history"><i class="fa fa-history fa-3x"></i> History</a>
                    </li>
                    </li>
						   <li>
                        <a   href="/profile"><i class="fa fa-user fa-3x"></i> Profile</a>
                    </li>
                    </li>
						   <li>
                        <a class="active-menu"  href="/gopro"><i class="fa fa-bar-chart-o fa-3x"></i> Go Pro</a>
                    </li>



                                                    </ul>

                                                </li>
                                            </ul>
                                          </li>

                                    </ul>

                                </div>

                            </nav>

        <!-- /. NAV SIDE  -->
        <div id="page-wrapper" >
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                     <h2>Click here to unlock all the features in Pro</h2></div></div>
                     <div id="features">
                         <div class="container">
                             <div class="row">
                                 <div class="col-xs-8">
                                 <h1 class="centered">Go PRO and get your data squeaky clean with DataSoap today!</h1>
                                 <br>
                                 <br></div>
                                 <div class="col-lg-4 centered">
                                     <img class="centered" src="static/assets/img/mobile1.png" alt="">
                                 </div>

                                 <div class="col-lg-4 white">
                                     <h3>All members get access to QuickClean to lookup single phone numbers for Free!<br />As a <b>Pro Member</b> you can do that and SO much more:</h3>
                                     <br>
                                 <!-- ACCORDION -->
                                     <div class="accordion ac" id="accordion2">
                                         <div class="accordion-group">
                                             <div class="accordion-heading">
                                                 <data-parent="#accordion2" href="#collapseOne">
                                                 <b>Simplicity</b>
                                                 </a>
                                             </div><!-- /accordion-heading -->
                                             <div id="collapseOne" class="accordion-body collapse in">
                                                 <div class="accordion-inner">
                                                 Upload txt or csv files to process all your records at once
                                                 </div><!-- /accordion-inner -->
                                             </div><!-- /collapse -->
                                         </div><!-- /accordion-group -->
                                         <br>
                                          <div class="accordion ac" id="accordion2">
                                             <div class="accordion-group">
                                                 <div class="accordion-heading">
                                                     <data-parent="#accordion2" href="#collapseOne">
                                                     <b>Convienience</b>
                                                     </a>
                                                 </div><!-- /accordion-heading -->
                                                 <div id="collapseOne" class="accordion-body collapse in">
                                                     <div class="accordion-inner">
                                                      DataSoap can process multiple filetypes and number formatting conventions.
                                                     </div><!-- /accordion-inner -->
                                                 </div><!-- /collapse -->
                                             </div><!-- /accordion-group -->
                                             <br>
                                              <div class="accordion ac" id="accordion2">
                                                  <div class="accordion-group">
                                                      <div class="accordion-heading">
                                                          <data-parent="#accordion2" href="#collapseOne">
                                                          <b>Census Data</b>
                                                          </a>
                                                      </div><!-- /accordion-heading -->
                                                      <div id="collapseOne" class="accordion-body collapse in">
                                                          <div class="accordion-inner">
                                                          Receive additional census data for your entries to improve results.
                                                          </div><!-- /accordion-inner -->
                                                      </div><!-- /collapse -->
                                                  </div><!-- /accordion-group -->
                                                  <br>
                                                  <div class="accordion ac" id="accordion2">
                                                      <div class="accordion-group">
                                                          <div class="accordion-heading">
                                                              <data-parent="#accordion2" href="#collapseOne">
                                                              <b>Detailed Reports</b>
                                                              </a>
                                                          </div><!-- /accordion-heading -->
                                                          <div id="collapseOne" class="accordion-body collapse in">
                                                              <div class="accordion-inner">
                                                              DataSoap offers detailed history and reports on files processed in graphical and data logs for your convienience.
                                                              </div><!-- /accordion-inner -->
                                                          </div><!-- /collapse -->
                                                      </div><!-- /accordion-group -->
                                                      <br>
                                                      <div class="accordion ac" id="accordion2">
                                                          <div class="accordion-group">
                                                              <div class="accordion-heading">
                                                                  <data-parent="#accordion2" href="#collapseOne">
                                                                  <b>Peace of Mind</b>
                                                                  </a>
                                                              </div><!-- /accordion-heading -->
                                                              <div id="collapseOne" class="accordion-body collapse in">
                                                                  <div class="accordion-inner">
                                                                  Access up to one year of history and links to your clean files
                                                                  </div><!-- /accordion-inner -->
                                                              </div><!-- /collapse -->
                                                              <h3><b>Go PRO</b> and get your data squeaky clean with DataSoap today!</h3>
                                                          </div><!-- /accordion-group -->
                                                          <br>


                                     <br /><br />

                                          <!-- <div class="accordion-group">
                                             <div class="accordion-heading">
                                                 <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                                                 Integrity
                                                 </a>
                                             </div>
                                             <div id="collapseThree" class="accordion-body collapse">
                                                 <div class="accordion-inner">
                                                 <p>Upload your own internal DNC numbers for a 1 step process that keeps you Compliant</p>
                                                 </div><!-- /accordion-inner -->
                                             </div><!-- /collapse -->
                                         </div><!-- /accordion-group -->
                                         <br>

                                          <!-- /accordion-group -->

                                     </div><!-- Accordion -->
                                 </div>
                             </div>
                         </div><!--/ .container -->
                     </div><!--/ #features -->
                </div>

                     <form action="/your-server-side-code" method="POST">
                       <script
                         src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                         data-key="pk_test_X5Q3STjFNgFPU0WAPka8CZk5"
                         data-amount="1000"
                         data-name="Stripe.com"
                         data-description="Widget"
                         data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                         data-locale="auto"
                         data-zip-code="true">
                       </script>
                     </form>

                    </div>
                </div>
                 <!-- /. ROW  -->
                 <hr />

    </div>
             <!-- /. PAGE INNER  -->


         <!-- /. PAGE WRAPPER  -->
        </div>
     <!-- /. WRAPPER  -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <script src="static/assets/js/jquery-1.10.2.js"></script>
      <!-- BOOTSTRAP SCRIPTS -->
    <script src="static/assets/js/bootstrap.min.js"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="static/assets/js/jquery.metisMenu.js"></script>
      <!-- CUSTOM SCRIPTS -->
    <script src="static/assets/js/custom.js"></script>


</body>
</html>
