<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/static/assets/ico/favicon.png">
    <title>Data Soap</title>
	<!-- BOOTSTRAP STYLES-->
{#    <link href="static/assets/css/bootstrap.css" rel="stylesheet" />#}
    <link href="/static/assets/css/bootstrap3.css" rel="stylesheet">
     <!-- FONTAWESOME STYLES-->
    <link href="static/assets/css/font-awesome-used.css" rel="stylesheet" />
        <!-- CUSTOM STYLES-->
    <link href="static/assets/css/custom.css" rel="stylesheet" />
    <!-- Stley is needed for registration and profile -->
    <link href="/static/assets/css/style.css" rel="stylesheet">

{#   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>#}
</head>