{% include "header.html" %}
<body>
{% include "nav.html" %}

        <div id="page-wrapper">
            <div id="page-inner">
                <div class="row" style="margin: 0">
                    <div class="col-md-12">
                        <h2>Your Reports</h2>
                    </div>
                </div>

                <div class="row" style="margin: 0">
                    <h3 class="graph" style="margin-left: 15px"> Average Percentage of Clean Data</h3><br  /><br />
                </div>
                <div class="row" style="margin: 0">
                    <div class="col-md-12">
                            <ul class="reportchart">
                                {% for day in avg_ptime_clean %}
                                <li>
                                    <span style="height:{{day[2]*100}}%;" title="{{day[0]}}"></span>
                                </li>
                                {% endfor %}
                            </ul>


                    </div>
                </div>
                <!-- /. ROW  -->
                <!-- <hr /> -->

            </div>
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <script src="/static/assets/js/jquery-1.10.2.js"></script>
    <!-- BOOTSTRAP SCRIPTS -->
    <script src="/static/assets/js/bootstrap.min.js"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="/static/assets/js/jquery.metisMenu.js"></script>
    <!--BACKSTRETCH-->
    <!-- You can use an image of whatever size. This script will stretch to fit in any screen size.-->
    <script type="text/javascript" src="/static/assets/js/jquery.backstretch.min.js"></script>
    <script>
        $.backstretch("/static/assets/img/Black-and-Red-Abstract-High-Resolution-Wallpaper.jpg", {speed: 500});
    </script>
    <link href="/static/assets/css/reports.css" rel="stylesheet" />

</body>

</html>
